/Problema1/Problema1/nbproject/private/
/Problema1/Problema1/build/
/Problema2/Problema2/nbproject/private/
/Problema2/Problema2/build/
/Problema2/JavaApplication3/nbproject/private/
/Problema2/JavaApplication3/build/
/Problema3/Problema3/nbproject/private/
/Problema3/Problema3/build/
/ejemplo4/problema4/nbproject/private/
/ejemplo4/problema4/build/
